body {
        background-color: #333333;
}


img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0%
}
msc {
  display: none;
}
text {
font-family: 'Muli', sans-serif;

}
h1 {
  text-align: center;


  margin-top: 2%;
  font: 400 70px/0.5 'Multi', sans-serif;
}

p {
  font: 400 80px/1.5 'Multi', sans-serif;
}
h2 {
  text-align: center;
text-decoration: none; background-color: none;
  font: 400 30px/.2 'Multi', sans-serif;
}

h3 {
  text-align: left;
  margin-left: 5%;
text-decoration: none; background-color: none;
  font: 400 70px/.5 'Multi', sans-serif;
}


h2.nav-link:link
{
   color:black;
   text-decoration: none;
}
h2.nav-link:visited
{
   color: black;
   text-decoration: none;
}
h2.nav-link:hover
{
   color: black;
   text-decoration: none;
}
h2.nav-link:active
{
   color: black;
   text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
  text-decoration: none;
    color: black;
}

/* mouse over link */
a:hover {
  text-decoration: none;
    color: black;
}

/* selected link */
a:active {
  text-decoration: none;
    color: black;
}
